# Application
APP_NAME=backend
APP_PORT=3001
NODE_ENV=development

# Database - PostgreSQL
DB_TYPE=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=smartcoll
DB_USERNAME=postgres
DB_PASSWORD=root
DATABASE_URL=postgresql://postgres:root@postgres:5432/smartcoll?schema=public

# Database Forwarding Ports (for local access)
FORWARD_DB_PORT=5433

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
FORWARD_REDIS_PORT=6380

# JWT
JWT_SECRET=your-secret-key-here-change-in-production
JWT_EXPIRES_IN=7d

# API
API_PREFIX=api
API_VERSION=1

# MIDTRAS
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=your-midtrans-server-key
MIDTRANS_CLIENT_KEY=your-midtrans-client-key
